{% extends "kominiarzapp/szablon.html" %}
{% block naglowek%}
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container ">
      <a class="navbar-brand " href="{% url 'Main' %}">
      <div class="mx-auto mt-3 mb-3" >
        <div>
        <img src="/static/img/logo3.png"  style="width: 60%;"></div>
        </div>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav ml-auto ">
          <li class="nav-item">
            <a class="navbar-brand ps-4" href="{% url 'Main' %}">Strona Główna</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand ps-4" href="{% url 'Zamawianie' %}">Zamów</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand ps-4 fw-bold" href="{% url 'Kominiarze' %}">Kominiarze</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}

{% block formularz %}
<div class="row justify-content-center">
<h1 class="row justify-content-center mt-3">Wybierz swojego Kominiarza</h1>
<form action="" method="post">
    {% for object in object_list %}
    <div class="card mb-3 mt-4 border border-3 border-black" style="width: 50%; margin-left: 25%; margin-right: 25%;">
        <img src={{object.zdj}} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{object.imie}} {{object.nazwisko}}</h5>
          <p class="card-text">{{object.opis|safe}}...</p>
          <p class="card-text"><small class="text-body-secondary">Wiek: {{object.wiek}}<a style="float: right;" href="../kominiarz/{{object.id}}">Zobacz więcej</a></small></p>
        </div>
      </div>
      
    {% endfor %}
</form>
</div>
{% endblock %}